/*-- -------------------------- -->
<---         About Us           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbs-1189 {
    padding: var(--sectionPadding);
    overflow: hidden;
    position: relative;
  }
  #sbs-1189 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #sbs-1189 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 32.625rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #sbs-1189 .cs-text {
    margin-bottom: 1rem;
  }
  #sbs-1189 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbs-1189 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--primary);
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #sbs-1189 .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #sbs-1189 .cs-button-solid:hover:before {
    width: 100%;
  }
  #sbs-1189 .cs-image-group {
    /* scales the whole group based on the view width size and stop when that vales equals .8em, resets at desktop */
    font-size: min(1.7vw, .7em);
    width: 53.625em;
    height: auto;
    /* 60px - 80px */
    padding-top: clamp(3.75rem, 6vw, 5rem);
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    /* 48px - 64px, changes to 36px at large desktop */
    row-gap: clamp(3rem, 6vw, 4rem);
    position: relative;
    z-index: 1;
  }
  #sbs-1189 .cs-graphic-wrapper {
    width: 100vw;
    height: 85%;
    background-color: #1a1a1a;
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: 0;
    z-index: -1;
    transform: translateX(-50%);
  }
  #sbs-1189 .cs-graphic {
    /* changes at tablet */
    width: 250vw;
    height: auto;
    opacity: 0.04;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-10deg);
  }
  #sbs-1189 .cs-stat {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  #sbs-1189 .cs-icon-wrapper {
    /* 72px - 96px */
    width: clamp(4.5rem, 12vw, 6rem);
    height: clamp(4.5rem, 12vw, 6rem);
    background-color: #484848;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #sbs-1189 .cs-icon {
    /* 32px - 48px */
    width: clamp(2rem, 6vw, 3rem);
  }
  #sbs-1189 .cs-flex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #sbs-1189 .cs-number {
    font-size: clamp(1.9375rem, 5.9vw, 3.0625rem);
    line-height: 1.2em;
    font-weight: 900;
    text-align: left;
    margin: 0;
    color: var(--bodyTextColorWhite);
    display: block;
  }
  #sbs-1189 .cs-desc {
    font-size: 1rem;
    line-height: 1.2em;
    text-align: left;
    margin: 0;
    color: var(--bodyTextColorWhite);
    display: block;
  }
  #sbs-1189 .cs-picture1 {
    width: auto;
    height: 37.375em;
    display: block;
    position: absolute;
    bottom: 1.25em;
    left: 0;
    z-index: 10;
  }
  #sbs-1189 .cs-picture1 img {
    height: 100%;
    width: auto;
  }
  #sbs-1189 .cs-picture2 {
    width: auto;
    height: 37.375em;
    display: flex;
    align-items: flex-start;
    position: relative;
    margin: 0 auto;
    z-index: 10;
  }
  #sbs-1189 .cs-picture2 img {
    height: 100%;
    width: auto;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbs-1189 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
  #sbs-1189 .cs-content {
    width: 47%;
  }
  #sbs-1189 .cs-image-group {
    font-size: min(1vw, 1em);
    width: 32.625em;
    height: 100%;
    padding: 0;
    flex: none;
    position: absolute;
    top: 0;
    right: 50%;
    margin-right: 9.375em;
  }
  #sbs-1189 .cs-graphic-wrapper {
    width: 32.625em;
    height: 87%;
  }
  #sbs-1189 .cs-graphic {
    /* changes at large desktop */
    width: 122.375em;
    top: 0;
    transform: translateX(-50%) rotate(-10deg);
  }
  #sbs-1189 .cs-picture1 {
    height: 62%;
    max-height: 29.8125em;
    right: auto;
    left: 50%;
    transform: translateX(-54%);
  }
  #sbs-1189 .cs-picture2 {
    height: 67%;
    max-height: 33.625em;
  }
}
/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
  #sbs-1189 .cs-image-group {
    margin-right: 3.125em;
    gap: 2.25em;
  }
  #sbs-1189 .cs-graphic-wrapper {
    height: 83%;
  }
  #sbs-1189 .cs-graphic {
    width: 93.5em;
    right: -1.25em;
    top: 6.875em;
    left: auto;
    transform: rotate(-10deg);
  }
}
/*-- -------------------------- -->
<---     Why Choose Topper      -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #why-choose-1550 {
    padding: var(--sectionPadding);
    position: relative;
  }
  #why-choose-1550 .cs-container {
    max-width: 80rem;
    margin: auto;
  }
  #why-choose-1550 .cs-card-group {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* 16px - 20px */
    gap: clamp(1rem, 2.5vw, 1.25rem);
    row-gap: 2.5rem;
  }
  #why-choose-1550 .cs-item {
    text-align: center;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* 24px - 40px */
    gap: clamp(1.5rem, 4vw, 2.5rem);
    /* keeps all cs-items the same size with differing content lengths */
    flex: 1 0 0;
  }
  #why-choose-1550 .cs-icon-wrapper {
    width: 5rem;
    height: 5rem;
    border: 1px solid var(--primary);
    border-radius: 6.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
  }
  #why-choose-1550 .cs-icon-wrapper::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--primary);
    opacity: 0.1;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #why-choose-1550 .cs-icon {
    width: 2.25rem;
    height: auto;
    box-sizing: content-box;
  }
  #why-choose-1550 .cs-flex {
    /* using margins instead of the flex parent for if content overflows. this keeps the icons in line of each other, while still centering the text */
    margin: auto 0;
  }
  #why-choose-1550 .cs-h2 {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.2em;
    text-align: inherit;
    margin: 0 0 0.5rem;
    color: var(--headerColor);
  }
  #why-choose-1550 .cs-item-text {
    font-size: 1rem;
    line-height: 1.5em;
    text-align: inherit;
    margin: 0;
    color: var(--bodyTextColor);
  }
  #why-choose-1550 .cs-background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #why-choose-1550 .cs-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #why-choose-1550 .cs-card-group {
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }
  #why-choose-1550 .cs-item {
    text-align: left;
    align-items: start;
  }
}
/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
  #why-choose-1550 .cs-item {
    flex-direction: row;
    justify-content: center;
    gap: 1.25rem;
  }
}
/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #services-2132 {
    padding: var(--sectionPadding);
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  #services-2132:before {
    content: "";
    width: 100%;
    height: 48%;
    background-color: var(--primary);
    opacity: 0.05;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
  #services-2132 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 44rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #services-2132 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #services-2132 .cs-title {
    margin: 0;
  }
  #services-2132 .cs-card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* 16px - 20px */
    gap: clamp(1rem, 1.5vw, 1.25rem);
  }
  #services-2132 .cs-item {
    list-style: none;
    width: 100%;
    height: 17.5rem;
    margin: 0;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    /* clips the image corners */
    overflow: hidden;
    grid-column: span 12;
    grid-row: span 1;
    position: relative;
  }
  #services-2132 .cs-item:hover .cs-h3,
  #services-2132 .cs-item:focus-within .cs-h3 {
    background-color: #fff;
    color: var(--headerColor);
    transform: translateY(0);
  }
  #services-2132 .cs-item:hover .cs-background:after,
  #services-2132 .cs-item:focus-within .cs-background:after {
    opacity: 0.6;
  }
  #services-2132 .cs-item:hover .cs-background img,
  #services-2132 .cs-item:focus-within .cs-background img {
    transform: scale(1.2);
  }
  #services-2132 .cs-link {
    text-decoration: none;
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #services-2132 .cs-h3 {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 2vw, 1.5625rem);
    font-weight: 700;
    line-height: 1.2em;
    text-align: center;
    margin: 0;
    padding: 1rem 1.25rem;
    color: var(--bodyTextColorWhite);
    border: 1px solid var(--bodyTextColorWhite);
    transform: translateY(0.75rem);
    transition: transform 0.3s, color 0.3s, background-color 0.3s;
  }
  #services-2132 .cs-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #services-2132 .cs-background:before {
    /* gradient overlay */
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%);
    opacity: 1;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -2;
    transition: height 0.3s;
  }
  #services-2132 .cs-background:after {
    /* gradient overlay */
    content: "";
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: opacity 0.3s;
  }
  #services-2132 .cs-background img {
    width: 100%;
    height: 100%;
    /* Makes img tag act as a background image */
    object-fit: cover;
    position: absolute;
    z-index: -3;
    transition: transform 0.7s;
  }
  #services-2132 .cs-stats-group {
    width: 100%;
    margin: 0;
    padding: 0rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1.5rem;
  }
  #services-2132 .cs-stats {
    list-style: none;
    padding: 1rem 0 1.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    grid-column: span 12;
    gap: 1rem;
    position: relative;
  }
  #services-2132 .cs-stats:after {
    /* grey lines */
    content: "";
    width: 90%;
    height: 1px;
    margin: 0;
    background: #e8e8e8;
    opacity: 1;
    display: block;
    position: absolute;
    bottom: 0;
  }
  #services-2132 .cs-stats:last-of-type:after {
    display: none;
  }
  #services-2132 .cs-header {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.2em;
    width: 100%;
    max-width: max-content;
    margin: 0;
    color: var(--bodyTextColor);
    display: inline-block;
  }
  #services-2132 .cs-number {
    /* 61px - 80px */
    font-size: clamp(3.8125rem, 8vw, 5rem);
    font-weight: 600;
    line-height: 1.2em;
    margin: 0;
    color: var(--primary);
    display: block;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #services-2132 .cs-container {
    max-width: 80rem;
  }
  #services-2132 .cs-item {
    /* 280px - 440px */
    height: clamp(17.5rem, 35vw, 27.5rem);
    grid-column: span 4;
  }
  #services-2132 .cs-stats-group {
    display: flex;
    justify-content: space-between;
    /* 32px - 80px */
    gap: clamp(2rem, 4vw, 5rem);
  }
  #services-2132 .cs-stats {
    width: 100%;
    max-width: 16.25rem;
    padding-left: 0;
    align-items: flex-start;
    grid-column: span 6;
  }
  #services-2132 .cs-stats:after {
    /* grey lines */
    content: "";
    width: 1px;
    height: 100%;
    margin: 0;
    background: #e8e8e8;
    opacity: 1;
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
  }
  #services-2132 .cs-stats:last-of-type:after {
    display: none;
  }
}
/* Large Desktop - 1440px */
@media only screen and (min-width: 90rem) {
  #services-2132 .cs-stats-group {
    transform: translateX(2.5rem);
  }
}
/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #reviews-1013 {
    padding: var(--sectionPadding);
    position: relative;
  }
  #reviews-1013 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #reviews-1013 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #reviews-1013 .cs-card-group {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* 16px - 20px */
    gap: clamp(1rem, 2.5vw, 1.15rem);
  }
  #reviews-1013 .cs-item {
    list-style: none;
    max-width: 39.375rem;
    /* 24px - 64px */
    padding: clamp(1.5rem, 4.8vw, 4rem);
    background-color: #fff;
    border: 1px solid #b4b2c7;
    /* prevents padding from adding to height and width */
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    grid-column: span 12;
    position: relative;
  }
  #reviews-1013 .cs-review {
    /* 14px - 20px */
    font-size: clamp(0.875rem, 1.6vw, 1.25rem);
    line-height: 1.5em;
    margin: 0 0 1.5rem 0;
    /* 20px - 44px */
    padding-bottom: clamp(1.25rem, 3vw, 2.75rem);
    color: var(--headerColor);
    border-bottom: 1px solid #b4b2c7;
  }
  #reviews-1013 .cs-flex-group {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* 12px - 20px */
    gap: clamp(0.75rem, 2vw, 1.25rem);
  }
  #reviews-1013 .cs-profile {
    /* 48px - 72px */
    width: clamp(3rem, 6vw, 4.5rem);
    height: clamp(3rem, 6vw, 4.5rem);
    border: 1px solid #b4b2c7;
    /* prevents border from adding to height and width */
    box-sizing: border-box;
    background-color: #b4b2c7;
    border-radius: 50%;
    /* clips image corners to make circle */
    overflow: hidden;
    position: relative;
    display: block;
  }
  #reviews-1013 .cs-profile img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* makes the image behave like a background image */
    object-fit: cover;
  }
  #reviews-1013 .cs-name {
    /* 16px - 25px */
    font-size: clamp(1rem, 2.2vw, 1.5625rem);
    line-height: 1.2em;
    font-weight: 700;
    /* in case one card has more text than the other, this pushes up against the review text so the name and title are always at the bottom. Only works if parent is a flexbox */
    margin-top: auto;
    color: var(--primary);
    display: block;
  }
  #reviews-1013 .cs-desc {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.6vw, 1rem);
    line-height: 1.5em;
    font-weight: 400;
    margin: 0.25rem 0 0 0;
    color: var(--headerColor);
    display: block;
  }
  #reviews-1013 .cs-background {
    width: 100%;
    height: 40%;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
  #reviews-1013 .cs-background:before {
    /* background color overlay */
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: 0.5;
    top: 0;
    left: 0;
    z-index: 1;
  }
  #reviews-1013 .cs-background img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* Makes img tag act as a background image */
    object-fit: cover;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #reviews-1013 .cs-container {
    max-width: 90rem;
  }
  #reviews-1013 .cs-item {
    grid-column: span 4;
  }
  #reviews-1013 .cs-background {
    height: 40%;
  }
}
/*-- -------------------------- -->
<---        Why Choose          -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #why-choose-37 {
    position: relative;
    /* Prevents overflow from the image going off screen */
    overflow: hidden;
  }
  #why-choose-37 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 7vw, 4rem);
  }
  #why-choose-37 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 39.375rem;
    margin-right: auto;
    /* moved section padding to the .cs-content so we can have the cs-picture be full width on mobile without the padding preventing it from doing so */
    padding: var(--sectionPadding);
    padding-top: 0;
    /* prevents padding from affecting width and height */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #why-choose-37 .cs-text {
    margin-bottom: 1rem;
  }
  #why-choose-37 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #why-choose-37 .cs-ul {
    padding: 0;
    margin: 0;
  }
  #why-choose-37 .cs-li {
    list-style: none;
    font-size: 1.25rem;
    line-height: 1.5em;
    font-weight: 700;
    margin-bottom: 0.5rem;
    color: #1a1a1a;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  #why-choose-37 .cs-icon {
    margin-right: 1rem;
  }
  #why-choose-37 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--primary);
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #why-choose-37 .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.25rem;
    transition: width 0.3s;
  }
  #why-choose-37 .cs-button-solid:hover:before {
    width: 100%;
  }
  #why-choose-37 .cs-button-solid {
    /* button override */
    margin-top: 2rem;
  }
  #why-choose-37 .cs-picture {
    display: block;
    position: relative;
    width: 100%;
    height: 18.75rem;
  }
  #why-choose-37 .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* makes it act like a background image */
    object-fit: cover;
  }
}
/* In Between - 650px */
@media only screen and (min-width: 40.625rem) {
  #why-choose-37 .cs-ul {
    columns: 2;
    max-width: 34.375rem;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #why-choose-37 {
    /* moved padding pack to the section container */
    padding: var(--sectionPadding);
  }
  #why-choose-37 .cs-content {
    width: 60%;
    padding: 0;
  }
  #why-choose-37 .cs-picture {
    height: 100%;
    width: 50%;
    left: 50%;
    right: auto;
    display: block;
    position: absolute;
    bottom: 0;
    z-index: -1;
  }
  #why-choose-37 .cs-picture:before {
    /* Triangle over image */
    content: "";
    width: 21.875rem;
    background: #fff;
    /* makes the triangle shape over the image */
    clip-path: polygon(0 0, 73% 0, 42% 100%, 0 100%);
    opacity: 1;
    display: block;
    position: absolute;
    top: -0.125rem;
    bottom: -0.125rem;
    left: -0.125rem;
    right: auto;
    z-index: 10;
  }
  #why-choose-37 .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
/* Desktop - 1200px */
@media only screen and (min-width: 75rem) {
  #why-choose-37 .cs-picture:before {
    width: 18.75rem;
    -webkit-clip-path: polygon(0 0, 100% 0, 14% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 14% 100%, 0 100%);
  }
}
