---
title: 'Pixel Perfect Websites | Code Stitch Web Designs | Denver, CO'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css"/>
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>

    <!-- JSON Schema Markup -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "LocalBusiness",
            "name": "{{ client.name }}",
            {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
            {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
            {% if client.email %}"email": "{{ client.email }}",{% endif %}
            {% if client.address %}
                "address": {
                    "@type": "PostalAddress"{% if client.address.lineOne %},
                        "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
                    {% endif %}
                    {% if client.address.city %},
                        "addressLocality": "{{ client.address.city }}"
                    {% endif %}
                    {% if client.address.state %},
                        "addressRegion": "{{ client.address.state }}"
                    {% endif %}
                    {% if client.address.zip %},
                        "postalCode": "{{ client.address.zip }}"
                    {% endif %}
                    {% if client.address.country %},
                        "addressCountry": "{{ client.address.country }}"
                    {% endif %}
                },
            {% endif %}
            {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
            {% if client.socials %}
                "sameAs": [{% for platform, url in client.socials %}
                        {% if not loop.first %},{% endif %}
                        "{{ url }}"
                    {% endfor %}]
            {% endif %}
        }
    </script>
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1061">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">WE OFFER A+ TANKLESS WATER HEATER SERVICES IN TULSA & SURROUNDING</h1>
            <p class="cs-text">
                Tulsa Tankless is a leading Tankless Water Heater Installation company servicing Tulsa Oklahoma and surrounding cities.
            </p>
            <a href="" class="cs-button-solid">Request Appointment</a>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-icon-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/car1.svg" alt="car" width="48" height="48">
                </picture>
                <h3 class="cs-h3">CERTIFIED PROFESSIONALS</h3>
                <p class="cs-item-text">
                    Our designs come with the perfect look and feel of an auto body shop or any car related industry. Use Stitch Mechanics for all car related sites!
                </p>
            </li>
            <li class="cs-item">
                <picture class="cs-icon-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/car2.svg" alt="car" width="48" height="48">
                </picture>
                <h3 class="cs-h3">HIGHLY RECOMMENDED</h3>
                <p class="cs-item-text">
                    Our designs come with the perfect look and feel of an auto body shop or any car related industry. Use Stitch Mechanics for all car related sites!
                </p>
            </li>
            <li class="cs-item">
                <picture class="cs-icon-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/car3.svg" alt="car" width="48" height="48">
                </picture>
                <h3 class="cs-h3">GUARANTEED SERVICES</h3>
                <p class="cs-item-text">
                    Our designs come with the perfect look and feel of an auto body shop or any car related industry. Use Stitch Mechanics for all car related sites!
                </p>
            </li>
            <li class="cs-item">
                <picture class="cs-icon-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/car3.svg" alt="car" width="48" height="48">
                </picture>
                <h3 class="cs-h3">
                    FAIR & UPRONT PRICING</h3>
                <p class="cs-item-text">
                    Our designs come with the perfect look and feel of an auto body shop or any car related industry. Use Stitch Mechanics for all car related sites!
                </p>
            </li>
        </ul>
    </div>

    <!-- Background Image, there's a background image in the CSS for the parallax effect you'll need to change as well if you swap out our images -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/tanklessin.jpg">
        <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/tanklessin.jpg">
        <img decoding="async" src="https://ik.imagekit.io/6ycdefzj5/tanklessin.jpg" alt="mechanic" width="2250" height="1500" aria-hidden="true">
    </picture>
</section>

<!-- ============================================ -->
<!--                  About Us                    -->
<!-- ============================================ -->

<section id="sbs-1189">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Stat Group-->
            <div class="cs-stat">
                <picture class="cs-icon-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/why-icon.svg" alt="icon" width="48" height="48" aria-hidden="true">
                </picture>
                <div class="cs-flex">
                    <span class="cs-number">2534+</span>
                    <span class="cs-desc">Satisfied Clients</span>
                </div>
            </div>
            
            <!--Car-->
            <picture class="cs-picture cs-picture1">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/svgs/truck.svg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/svgs/truck.svg">
                <img loading="lazy" decoding="async" src="/assets/svgs/truck.svg" alt="appliance" width="858" height="477">
            </picture>

            <!--Person, to make your own crop of a person, use https://www.remove.bg/ to remove the background of any image -->
            <picture class="cs-picture cs-picture2">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/svgs/hero.svg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="assets/svgs/hero.svg">
                <img loading="lazy" decoding="async" src="assets/svgs/hero.svg" alt="appliance" width="438" height="588">
            </picture>

            <!--Stripe background-->
            <div class="cs-graphic-wrapper">
                <img class="cs-graphic" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/tire-mark.svg" alt="tire mark" width="1469" height="626" aria-hidden="true">
            </div>

        </div>
        <div class="cs-content">
            <span class="cs-topper">About Us</span>
            <h2 class="cs-title">Best Tankless Plumber In Town</h2>
            <p class="cs-text">
                I am a plumbing contractor that has been working in the Tulsa area for over 12 years. With Tulsa Tankless you will be getting trustworthy and professional service. Installing a tankless unit is an investment in your home and I want to help you choose the best option that will fit your individual needs and budget.
            </p>
            <p class="cs-text">
    
            </p>
            <a href="/about" class="cs-button-solid">Read More</a>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--              Why Choose Topper               -->
<!-- ============================================ -->

<section id="why-choose-1550">
    <div class="cs-container">
        <ul class="cs-card-group">
            <li class="cs-item">
                <div class="cs-icon-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/ecomm-truck.svg" alt="icon"
                            width="48" height="48">
                </div>
                <div class="cs-flex">
                    <h2 class="cs-h2">Prompt Arrivals</h2>
                    <p class="cs-item-text">
                        Free shipping on all order
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-icon-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/ecomm-headset.svg"
                            alt="icon" width="48" height="48">
                </div>
                <div class="cs-flex">
                    <h2 class="cs-h2">Honest Pricing and Estimated Work Completion</h2>
                    <p class="cs-item-text">
                        Support online 24 hrs/day
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-icon-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/ecomm-cash.svg" alt="icon"
                            width="48" height="48">
                </div>
                <div class="cs-flex">
                    <h2 class="cs-h2">Respectful, Courteous Contractors</h2>
                    <p class="cs-item-text">
                        Guarantee under 7 days
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-icon-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/ecomm-label.svg" alt="icon"
                            width="48" height="48">
                </div>
                <div class="cs-flex">
                    <h2 class="cs-h2">Diligent, Attentive Work</h2>
                    <p class="cs-item-text">
                        On every order over $120.00
                    </p>
                </div>
            </li>
        </ul>
    </div>
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/Why%20CHoose%20Us%203.png">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/Why%20CHoose%20Us%203.png">
        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/Why%20CHoose%20Us%203.png" alt="texture" width="1920" height="550">
    </picture>
</section>

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-2132">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">What We Do</span>
            <h2 class="cs-title">Our Special Services for You</h2>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="/project-one" class="cs-link">
                    <h3 class="cs-h3">Installation</h3>
                    <!--Background Image-->
                    <picture class="cs-background">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/tanklessin.jpg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/tanklessin.jpg">
                        <img loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/tanklessin.jpg" alt="person" width="413" height="440">
                    </picture>
                </a>
            </li>
            <li class="cs-item">
                <a href="/project-two" class="cs-link">
                    <h3 class="cs-h3">Repair</h3>
                    <!--Background Image-->
                    <picture class="cs-background">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/tanklessrepair.jpg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/tanklessrepair.jpg">
                        <img loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/tanklessrepair.jpg" alt="person" width="413" height="440">
                    </picture>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3">Other</h3>
                    <!--Background Image-->
                    <picture class="cs-background">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/tanklessother.jpg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/tanklessother.jpg">
                        <img loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/tanklessother.jpg" alt="person" width="413" height="440">
                    </picture>
                </a>
            </li>
        </ul>
        <ul class="cs-stats-group">
            <li class="cs-stats">
                <span class="cs-header">Projects Completed</span>
                <span class="cs-number">886</span>
            </li>
            <li class="cs-stats">
                <span class="cs-header">Satisfied Customers</span>
                <span class="cs-number">2k</span>
            </li>
            <li class="cs-stats">
                <span class="cs-header">Repeat Customers</span>
                <span class="cs-number">475</span>
            </li>
            <li class="cs-stats">
                <span class="cs-header">Professional Team</span>
                <span class="cs-number">37</span>
            </li>
        </ul>
    </div>
</section>
             
<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews-1013">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Customers</span>
            <h2 class="cs-title">What They Have To Say</h2>
            <p class="cs-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <p class="cs-review">
                    I use my creativity and expertise to create timeless expressions and meaningful experiences for brands in a primarily digital world.
                </p>
                <div class="cs-flex-group">
                    <picture class="cs-picture">
                        <img class="cs-profile" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile2.jpg" decoding="async" alt="profile" width="50" height="50" aria-hidden="true">
                    </picture>
                    <span class="cs-name">
                        Sarah
                        <span class="cs-desc">Google</span>
                    </span>
                </div>
            </li>
            <li class="cs-item">
                <p class="cs-review">
                    I use my creativity and expertise to create timeless expressions and meaningful experiences for brands in a primarily digital world.
                </p>
                <div class="cs-flex-group">
                    <picture class="cs-picture">
                        <img class="cs-profile" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile3.png" decoding="async" alt="profile" width="50" height="50" aria-hidden="true">
                    </picture>
                    <span class="cs-name">
                        John Doe
                        <span class="cs-desc">Google</span>
                    </span>
                </div>
            </li>
            <li class="cs-item">
                <p class="cs-review">
                    I use my creativity and expertise to create timeless expressions and meaningful experiences for brands in a primarily digital world.
                </p>
                <div class="cs-flex-group">
                    <picture class="cs-picture">
                        <img class="cs-profile" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile3.png" decoding="async" alt="profile" width="50" height="50" aria-hidden="true">
                    </picture>
                    <span class="cs-name">
                        John Doe
                        <span class="cs-desc">Google</span>
                    </span>
                </div>
            </li>
        </ul>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Why-Choose/wood-bg.jpg">
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Why-Choose/wood2.jpg">
        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Why-Choose/wood2.jpg" alt="wood texture" width="1920" height="340" aria-hidden="true">
        </picture>
</section>

<!-- ============================================ -->
<!--                  Why Choose                  -->
<!-- ============================================ -->

<section id="why-choose-37">
    <div class="cs-container">
        <!-- Right Image -->
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/tankless.jpg">
            <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/tankless.jpg">
            <img aria-hidden="true" loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/tankless.jpg" alt="lightbulbs on a wire" width="858" height="781">
        </picture>
        <div class="cs-content">
            <h2 class="cs-title">Why Choose a Tankless Heater?</h2>
            <p class="cs-text">
                Today’s tankless water heating technology is more advanced, efficient and reliable than ever before and there has never been a better time to have a tankless unit installed in your home. Enjoy the benefits of endless hot water while saving 35-40% on your water heating energy costs. Call today for a quick, over-the-phone estimate!
            </p>
            <p class="cs-text">
                Oklahoma Natural Gas is offering high efficiency rebates of $250 to $1,100 based on the type of installation. Energy star tax credits are also available for high efficiency appliances. Call us today for details.
            </p>
            <ul class="cs-ul">
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Why-Choose/yellow-check.svg" alt="checkmark" width="27" height="27">
                    MONEY SAVINGS
                </li>
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Why-Choose/yellow-check.svg" alt="checkmark" width="27" height="27">
                    ENDLESS HOT WATER
                </li>
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Why-Choose/yellow-check.svg" alt="checkmark" width="27" height="27">
                    GREATER EFFICIENCY & LOWER UTILITY COSTS
                </li>
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Why-Choose/yellow-check.svg" alt="checkmark" width="27" height="27">
                    NO STORED WATER
                </li>
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Why-Choose/yellow-check.svg" alt="checkmark" width="27" height="27">
                    LOW MAINTENANCE AND LONGER SERVICE LIFE
                </li>
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Why-Choose/yellow-check.svg" alt="checkmark" width="27" height="27">
                    SPACE SAVING DESIGN
                </li>
            </ul>
            <a href="/blog" class="cs-button-solid">Learn More</a>
        </div>
    </div>
</section>
                                
                                
                                
                                

    {% include 'components/cta.html' %}
{% endblock %}